[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django-heroku = "*"
Django = "*"
graphene-django = "*"
django-filter = "*"
django-graphql-auth = "*"
django-cors-headers = "*"
requests = "*"
django-registration = "*"

[dev-packages]
django-stubs = "*"
mypy = "*"
graphene-stubs = "*"

[requires]
python_version = "3.10"
